1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse`

In [1]:
a = ""
l = []
for i in range(1,101):
    a = ""
    if i%3==0:
        a += "Mickey"
    if i%5==0:
        a += "Mouse"
    if a == "":
        a = str(i)
    l.append(a)
    print(a)
print(l)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
['1', '2', 'Mickey', '4', 'Mouse', 'Mickey', '7', '8', 'Mickey', 'Mouse', '11', 'Mickey', '13', '14', 'MickeyMouse', '16', '17', 'Mickey', '19', 'Mouse', 'Mickey', '22', '23', 'Mickey', 'Mouse', '26', 'Mickey', '28', '29', 'MickeyMouse', '31', '32', 'Mickey', '34', 'Mouse', 'Mickey', '37', '38', 'Mickey', 'Mouse', '41', 'Mickey', '43', '44', 'MickeyMouse', '46', '47', 'Mickey', '49', 'Mouse', 'Mickey', '52', '53', 'Mickey', 'Mouse', '56', 'Mickey', '58', '59', 'MickeyMouse', '61', '62', 'Mickey', '64', 'Mouse', 'Mickey', '67', '68', 'Mickey', 'Mouse', '71', 'Mickey', '73', '74', 'MickeyMouse', '76', '77', 'Mickey', '79', 'Mouse', 'Mickey', '82', '83', 'Mickey', 'Mouse', '86', 'Mickey', '88', '89', 'MickeyMouse', '91', '92', 'Mickey', '94', 'Mouse', 'Mickey', '97', '98', 'Mickey', 'Mouse']

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [71]:
for i in range(0,100):
    if l[i] == "Mickey":
         l[i] = "Donald"
    if l[i] == "Mouse":
        l[i] = "Duck"
    if l[i] == "MickeyMouse":
        l[i] = "DonaldDuck"
t = tuple(l)
print(t)

('1', '2', 'Donald', '4', 'Duck', 'Donald', '7', '8', 'Donald', 'Duck', '11', 'Donald', '13', '14', 'DonaldDuck', '16', '17', 'Donald', '19', 'Duck', 'Donald', '22', '23', 'Donald', 'Duck', '26', 'Donald', '28', '29', 'DonaldDuck', '31', '32', 'Donald', '34', 'Duck', 'Donald', '37', '38', 'Donald', 'Duck', '41', 'Donald', '43', '44', 'DonaldDuck', '46', '47', 'Donald', '49', 'Duck', 'Donald', '52', '53', 'Donald', 'Duck', '56', 'Donald', '58', '59', 'DonaldDuck', '61', '62', 'Donald', '64', 'Duck', 'Donald', '67', '68', 'Donald', 'Duck', '71', 'Donald', '73', '74', 'DonaldDuck', '76', '77', 'Donald', '79', 'Duck', 'Donald', '82', '83', 'Donald', 'Duck', '86', 'Donald', '88', '89', 'DonaldDuck', '91', '92', 'Donald', '94', 'Duck', 'Donald', '97', '98', 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [4]:
def my_swap(x,y):
    a = x
    b = y
    x = b
    y = a
    print(x,y)

In [5]:
my_swap(5,7)

7 5

To do that without temporary variables:

In [6]:
def swap_1(x, y):
    x, y = y, x  # Swap the values of x and y using tuple packing/unpacking
    return x, y  # Return the swapped values

In [7]:
a = 5
b = 7
a, b = swap_1(a,b)
print(a)
print(b)

7
5

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [8]:
import math

In [25]:
def distance(u, v):
    try:
        a = u[1]
    except:
        print("Error: the first input is not a point.")
        return None
    try:
        b = v[1]
    except:
        print("Error: the second input is not a point.")
        return None
    
    d = math.sqrt(((u[0]-v[0])**2) + ((u[1]-v[1])**2))
    return d

In [14]:
print(distance((3,0),(0,4)))

5.0

In [13]:
print(distance(5,(0,4)))

The first input is not a point!
None

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [15]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [16]:
a = {}
s = s.lower()
for i in s:
    if i in a:
        a[i] = a[i] + 1
    else:
        a[i] = 1
for j in a: print(j, a[j])

w 2
r 17
i 14
t 19
e 22
  41
a 7
p 8
o 13
g 1
m 12
h 9
n 10
s 9
u 9
b 5
f 10
1 2
0 2
. 2
l 6
c 3
k 2
y 2
d 3
v 2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [ ]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [28]:
def unique_count(l):
    try: 
        a = l[0]
    except:
        print("Error: The input is not a list.")
        return None
    
    a = {}
    for i in l:
        if i in a:
            a[i] += 1
        else:
            a[i] = 1
    count = 0
    uniques = []
    for i in a:
        if a[i] == 1:
            uniques.append(i)
            count += 1 
    print("Unique elements:", uniques)
    print("Numbers of unique elements: ",  count)

In [29]:
unique_count(l)

Unique elements: ['1', '2', '4', '7', '8', '11', '13', '14', '16', '17', '19', '22', '23', '26', '28', '29', '31', '32', '34', '37', '38', '41', '43', '44', '46', '47', '49', '52', '53', '56', '58', '59', '61', '62', '64', '67', '68', '71', '73', '74', '76', '77', '79', '82', '83', '86', '88', '89', '91', '92', '94', '97', '98']
Numbers of unique elements:  53

In [31]:
x = 5
unique_count(x)

Error: The input is not a list.

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

Square:

In [47]:
def square(x): 
    try:
        x + 1 
    except:
        print("Error: the input has to be a number.")
        return None
    return x*x

Cube:

In [44]:
def cube(x):
    try:
        x+1
    except:
        print("Error: the input has to be a number.")
        return None
    return x*x*x

Test:

In [69]:
print(square(4))
print(cube(3))
print(square("v"))
print(cube((3,4)))

16
27
Error: the input has to be a number.
None
Error: the input has to be a number.
None

Combination:

In [37]:
def comb(x):
    return square(cube(x))

Test:

In [50]:
print(comb(2))
print(comb("c"))

64
Error: the input has to be a number.
Error: the input has to be a number.
None

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

In [52]:
a = []
for x in range(0,11):
    a.append(x**3)
print(a)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

b) a list comprehension

In [51]:
b = [x**3 for x in range(0,11)]
print(b)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [53]:
print(a == b)

True

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [56]:
triples = []
for a in range(1,101):
    for b in range(a,101):
        for c in range(b,101):
            if c*c == a*a + b*b:
                triples.append((a,b,c))
print("Pythagorean triples between 1 and 100:", triples)

Pythagorean triples between 1 and 100: [(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97)]

Other method using nested list comprehension:

In [63]:
nested_triples = [(a,b,c)for a in range(1,101) for b in range(a,101) for c in range(b,101) if a**2+b**2==c**2]
print("Pythagorean triples between 1 and 100:", nested_triples)

Pythagorean triples between 1 and 100: [(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (28, 96, 100), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (60, 80, 100), (65, 72, 97)]

Verify the two methods are equivalent:

In [64]:
print(triples == nested_triples)

True

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [80]:
def normalize(l:tuple):
    try:
        if not isinstance(l, tuple):
            raise TypeError("the input must be a tuple.")
    except TypeError as e:
        print("Error:", e)
        return None
    a = []
    for i in l:
        a.append(i//i)
    t = tuple(a)
    return t

In [82]:
a = (2,3,4)
b = normalize(a)
print(b)
normalize(3)

(1, 1, 1)
Error: the input must be a tuple.