In [1]:
import pandas as pd
import numpy as np

1. Create a Pandas DataFrame reading N rows of the 'data_000637.txt' dataset. Choose N to be smaller than or equal to the maximum number of rows and larger that 10k.

In [15]:
file_name='~/LaboratoryOfComputationalPhysics_Y6/Ex06/data_000637.txt'
data=pd.read_csv(file_name)
rows,_=data.shape
print("Rows:",rows)

N=np.random.randint(10000,rows)

data=data.head(N)
data

Rows: 1310720

        HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0          1     0          123  3869200167        2374        26
1          1     0          124  3869200167        2374        27
2          1     0           63  3869200167        2553        28
3          1     0           64  3869200167        2558        19
4          1     0           64  3869200167        2760        25
...      ...   ...          ...         ...         ...       ...
837573     1     1           29  3869207921          84         6
837574     1     1           64  3869207921         110        25
837575     1     0          119  3869207921         132        25
837576     1     1           38  3869207921         139        15
837577     1     1           36  3869207921         146        28

[837578 rows x 6 columns]

2\. Find out the number of BX in a ORBIT (the value 'x').

In [30]:
data=data.sort_values(by='TDC_MEAS')
data

        HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
336426     1     1          139  3869203536        3137         0
717811     1     0          139  3869207113        2810         0
457096     1     1          139  3869204780        1076         0
501807     1     0          139  3869205239        3384         0
717825     1     0           49  3869207113        3238         0
...      ...   ...          ...         ...         ...       ...
483394     1     1            2  3869205050        2247        29
67001      1     0           51  3869200833        2948        29
828506     1     0           91  3869207863        3373        29
828471     1     0           63  3869207863        2833        29
228144     1     0           63  3869202437        2280        29

[837578 rows x 6 columns]

In [26]:
for i in range(1,rows):
    if data.iloc[i,3] != data.iloc[i+1,3]:
        print("X:",i)
        break

X: 42

3\. Find out how much the data taking lasted. You can either make an estimate based on the fraction of the measurements (rows) you read, or perform this check precisely by reading out the whole dataset.